%h1.center BBC Fake news
%table.table
  %thead
    %tr
      %th Title
      %th Description
      %th.size4 Pub Date
      %th Vote       
  %tbody    
    -@items.each do |item|
      %tr
        %td.item_title=link_to item.title, item.link
        %td.item_desc=item.description
        %td.item_pub_date=item.pubDate.strftime("%Y-%m-%d %H:%M:%S") 
        %td          
          =link_to "#", class: "btn btn-sm btn-primary vote_button" do
            %span.glyphicon.glyphicon-thumbs-up
          
